<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>零區</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>「Agora零區」致力於爲原子化個體和散沙性社會探索一組方法論和工作框架。憑藉網絡技術，「零區」建基於一套可擴展的虛擬社區服務框架，包含賦權工具、維權輔助、分佈組織、網絡拓樸、信息聚合、匿名通信等，惟並非提供解決方案。</p>
                </div>
                <div class="col-lg-4">
                    <p>無論性別、身份、階級、財富、年齡、學識、職業、膚色、語言、性格、立場、信仰、性向、种族、能力…… 你/妳我她/他們都會在「零區」找到意義。 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/agora0" class="btn btn-lg btn-outline">
                        <i class="fa fa-sign-in fa-lg"></i><b> &nbsp; 訪問「零區」</b>
                    </a>
                </div>
            </div>
        </div>
    </section>
